@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
body {
  margin: 0;
  padding: 0;
  background: #F5F5F5;
  font-family: 'SF Pro Display', sans-serif;                                   
  -webkit-font-smoothing: antialiased;

}

/* .active {
  rgba(201, 238, 209, 1) text-black;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;